.TodoError {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.TodoError-text {
  color: rgb(184, 182, 182);
  font-size: 30px;
}

.TodoError-plusIcon {
  animation: errorAnimation 1500ms linear infinite;
}

@keyframes errorAnimation {
  0% {
    transform: rotate(0);
  }
  25% {
    transform:  rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100%{
    transform: rotate(360deg);
  }

}